body {
    font-family: 'Nunito', sans-serif;
    background-image: url('	https://graphics.gaiaonline.com/images/global_bg/bg2.jpg');
}

.header {
    background: url("https://u1cdn.gaiaonline.com/mfs/index/adminupload/3215c98e8ac2.jpg") no-repeat;
    background-size: 100% 100%;
}

.avatar {
    position: relative;
    bottom: 30px;
    height: 150px;
}

.main-content-wrapper {
    background: transparent url("https://www.toptal.com/designers/subtlepatterns/uploads/white_wall_hash.png") repeat;
}


.main-site-nav {
    background-color: white !important;
}

.avi-area {
    height:124px //This should be temporary.
}

.white {
    color:$white;
}

footer:hover {
    opacity: 1 !important;
}
